.section-card{
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
    display: inline-block;
    overflow-x: hidden;
    max-width: 250px;
    max-height: 550px;
    margin: 30px;
    color: black;
    border-radius: 10px;
    background-color: honeydew;
}
.product-image {
    width: 80%;
    height: 150px;
    filter: none;
    border-radius: 10px 10px;
}
label {
    color: black;
    margin: 2px;
}
.section-card:hover {
    box-shadow: 0 4px 8px 0 aquamarine, 0 6px 20px 0 aquamarine;
}
.description {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    margin-bottom: 5px;
}
.Name {
    margin: 5px;
    font-size: 20px;
}